langchain
python-dotenv
langchain_community
langchain_core
streamlit
torch
torchvision
langchain_groq
pypdf
langchain-huggingface
sentence_transformers
chromadb
faiss-cpu
arxiv
wikipedia
ipykernel
validators
youtube_transcript_api
langchain_classic
pytube
unstructured